body {
    margin: 0;
    padding: 0;
    border: 0;
}

.header {
    padding-top: 10px;
    padding-bottom: 10px;
    height: 70px;
    background: black;
}

.caixa {
    max-width: 980px;
    height: 100%;
    margin: 0 auto;
}

.caixa div {
    float: left;
    color: white;
}

.header nav {
    float: right;
}

ul {
    list-style: none;
}

ul li {
    color: white;
    display: inline;
    margin-left: 25px;
  }
  

.cor-tomato {
    color: tomato;
}

.rodape {
    position: relative;
    display: inline;
    bottom: 0;
    height: 70px;
    background: black;
}

.inputmail {
margin-left: 300px;
padding-right: 50px;
margin-top: 30px;
float: left;
display: inline;

}

.button {
    margin-left: 1px;
    float: right;
    margin-top: 30px;
    background-color: orangered; 
    

}

.holder {
    display: flex;
    justify-content: center;
    align-items: center;
}
.textocapa {
    font-size: 22pt;
    position: absolute;
    font-family: sans-serif;
    text-align: center;
    color: orangered;
}

.subtextocapa {
    font-size: 16pt;
    position: absolute;
    font-family: sans-serif;
    padding-top: 80px;
    color: rgb(0, 0, 0);
}

.fundocapa {
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: none;
    width: 100%; 
    height: 350px; 
    margin-top: -10px;
}

.iconespng {
    margin-top: 60px;
    padding-inline-start: 200px;
    width: 180px; 
    height: 180px;

}

.titicones {
    font-size: 18pt;
    font-style: oblique;
    display: inline;
    margin-top: 60px;
    padding-inline-start: 230px;

}

.subtiticones {
    align-items: baseline;
    font-size: 12pt;
    font-style: normal;
    display: inline;
    margin-top: 60px;
    padding-inline-start: 190px;

}

.faixafinal {
    font-display: black;
    font-size: 16pt;
    padding-top: 20px;
    text-align: center;
    width: 100%;
    height: 50px;
    background: rgb(250, 121, 0);
}