.pagcadastro {
    height: 600px;
    margin: 0 auto;
    background-color: white;
    max-width: 70%;
}

.container {
    height: 180px;
    margin: 0 auto;
    max-width: 100%;
}

.imagem-dir {
    margin-top: 30px;
    float: right;
    height: 500px;
    width: 400px;
}

.box-cadastro {
    margin-top: 50px;
    float: left;
    
}

.box-registro h1 {
    margin-top: 50px;
    margin-bottom: 40px;
}

.box-registro p {
    margin-bottom: 0px;
    font-size: 20px;
}

.input {
    width: 500px;
    border-radius: 5px;
    border: 1px grey solid;
    height: 30px;
    padding-left: 30px;
}

.btn-green {
    color: white;
    background-color: green;
    margin: 20px 0 50px 0;
    border: 5;
    padding: 10px 20px;

    border-radius: 5px;
    float: left;
    cursor: pointer;
}