.pag-login {
    background-color: rgb(255, 255, 255);
    text-align: center;
    padding: 50px 0;
    
}

.box-login {
    display: inline-block;
    background-color: rgb(255, 255, 255);
    box-shadow: 3px 3px 5px 2px rgb(199, 197, 197);
    padding: 50px 20px 0px 20px;
    border-radius: 20px;
    width: 400px;
}

.pag-login .input-padrao {
    width: 50%;
    display: inline-block;
}

.btn-green {
    color: white;
    background-color: green;
    margin: 20px 0 50px 0;
    border: 5;
    padding: 10px 20px;

    border-radius: 5px;
    float: left;
    cursor: pointer;
}

.pag-login .btn-green {
    display: block;
    float: none;
    margin: auto;
}