
body {
  margin: 0;
  padding: 0;
  border: 0;
}

.cabecalho {
  padding-top: 20px;
  background: #161b22;
  width: 100%;
  height: 80px;
}

.caixa {
  max-width: 1280px; 
  height: 100%;
  margin: 0 auto; 
}



.cabecalho img {
  width: 150px;
  float: left;
}

.cabecalho nav {
  float: right;
}



ul {
  list-style: none;
}


ul li {
  color: white;
  display: inline;
  margin-left: 25px;
  font-size: larger;
}

.itemcolor{
color: orange }